@import "../../utils/scss/variables.scss";

.Login__Header {
  padding: 3em 5em;

  .Login__Logo {
    text-align: center;
    font-size: 4rem;
    font-family: $headerFont;
  }
}

.Login__Form {
  @include basic-flex;

  input {
    width: 70vw;
    padding: 1em;
    border: none;
  }

  input[type="submit"]:hover{
    background: $mainHoverGreen;
  }
 
  .Input__Container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    border-bottom: 1px solid $mainGreen;
  }
}

.Redirect__To__Reg {
  @include basic-flex;

  #Reg__Redirect {
    @include redirect;
  }
}
