@import "../../utils/variables.scss";

.Login__Header {
  padding: 3em 5em;

  .Login__Logo {
    text-align: center;
    font-size: 4rem;
    font-family: $headerFont;
  }
}

.Login__Form {
  @include basic-flex;

  input {
    width: 70vw;
    margin-bottom: 1em;
    border: none;
  }

  .Input__Container {
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid grey;
  }

  #Login__Submit {
    padding: 1.5em;
  }
}

.Redirect__To__Reg {
  @include basic-flex;

  #Reg__Redirect {
    background: none;
    border: none;
    font-size: 1.2rem;
    color: $mainDark;
    margin-bottom: 1em;
    font-family: $mainFont;
  }
}
