@import "../../utils/scss/variables.scss";

.Registration__Header {
  padding: 3em 5em;

  .Registration__Logo {
    text-align: center;
    font-size: 4rem;
    font-family: $headerFont;
  }
}

.Reg__Form {
  @include basic-flex;

  input {
    width: 70vw;
    padding: 1em;
    border: none;
  }

  input[type="submit"]:hover {
    background: $mainHoverGreen;
  }

  .Input__Container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    border-bottom: 1px solid grey;
  }
}

.Redirect__To__Login {
  @include basic-flex;

  #Login__Redirect {
    @include redirect;
  }
}
