@import "../../utils/scss/variables.scss";

.Registration__Header {
  padding: 2em 5em;

  .Registration__Logo {
    text-align: center;
    font-size: 4rem;
    font-family: $headerFont;
  }
}

.Reg__Form {
  @include basic-flex;
  max-width: 500px;
  width: 70vw;
  margin: 0 auto;
  
  input {
    width: 100%;
    padding: 1em;
    border: none;
  }

  input[type="submit"]:hover {
    background: $mainHoverGreen;
  }

  .Input__Container {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 1em;
    border-bottom: 1px solid grey;

    label i {
      padding-left: 4px;
      font-size: 15px;
    }
  }
}

.Redirect__To__Login {
  @include basic-flex;

  #Login__Redirect {
    @include redirect;
  }
}