@import "../../utils/scss/variables.scss";

.Landing__Page {

  section {
    padding: 0 2em;
  }

  section a {
    @include button;
    max-width: 200px;
    text-align: center;

    &:hover {
      background: $mainHoverGreen;
    }

  }
}